@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #FFFFFF;
  --wizard-color: rgba(0, 0, 0, 0.5);
  --wizard-border: rgba(0, 0, 0, 0.2);
  --footer-color: #F7F7F7;
  --text-color-title: #000000;
  --text-color-logoDisp: #1D4C4C;
  --text-color-logobzk: #32A28C;
  --text-color-contact: #828282;
  --text-color-input: #5B5959;
  --text-font-Montserrat: "Montserrat", sans-serif;
  --text-font-Inter: "Inter", sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

html, body {
  background-color: var(--background-color);
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.header__logo {
  display: flex;
  flex-direction: row;
}

.logo__text {
  font-family: var(--text-font-Montserrat);
  font-size: 40px;
  font-weight: 652;
  color: var(--text-color-logoDisp);
}

.logo__bzk {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color-logobzk);
}

.logo__header {
  max-width: 50px;
  margin-top: 0;
  object-fit: contain;
  pointer-events: none;
}

.header__links {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
  gap: 30px;
  cursor: pointer;
}

.header__link {
  font-family: var(--text-font-Inter);
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color-logoDisp);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
}

.main__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 0 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.main__title {
  margin-left: 50px;
  margin-bottom: 50px;
  font-family: var(--text-font-Inter);
  font-size: 30px;
  font-weight: 700;
}

.inputs {
  display: flex;
  margin-left: 0;
  flex-direction: column;
}

.slenderness {
  display: flex;
  margin-bottom: auto;
  width: 500px;
  height: 100px;
}

.input__title {
  margin-bottom: 10px;
  font-family: var(--text-font-Inter);
  font-size: 17px;
  font-weight: 500;
}

.input__subtitle {
  margin-bottom: 10px;
  font-family: var(--text-font-Inter);
  font-size: 16px;
  font-weight: 500;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 450px;
}

label {
  flex: 1;
  text-align: left;
  font-family: var(--text-font-Inter);
  font-size: 16px;
}

.input__field {
  flex: 0 0 145px;
  max-width: 145px;
  min-width: 0;
  text-align: center;
  font-family: var(--text-font-Inter);
  font-size: 15px;
  color: var(--text-color-input);
}

.input__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input__field-list {
  flex: 0 0 145px;
  min-width: 0;
  text-align: center;
  font-family: var(--text-font-Inter);
  font-size: 15px;
  color: var(--text-color-input);
}

.input__container-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input__container-select {
  margin-right: 58px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-end;
}

.input__row label {
  margin-right: 77px;
}

.input__container-list::after {
  content: '';
  display: inline-block;
  width: 50px; /* igual ao warning span */
  height: 1px;
  visibility: hidden;
}

.input__warning {
  width: 50px;
  font-family: var(--text-font-Inter);
  font-size: 13px;
  color: var(--text-color-input);
  white-space: nowrap;
  visibility: hidden;
}

.input__warning--show {
  visibility: visible;
}

.input__field--error {
  border: 1px solid red;
  outline: none;
}

.input__button {
  height: 40px;
  width: 180px;
  font-family: var(--text-font-Inter);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: var(--background-color);
  border-radius: 8px;
  background-color: var(--text-color-title);
  margin-left: 60px;
}

.input__format-image {
  display: none;
}

.dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 20; /* Novo */
}

.dropdown__toggle {
  margin-left: 25px;
  width: 145px;
  height: 25px;
  padding: 2.5px;
  text-align: center;
  background-color: #e0e0e0;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-family: var(--text-font-Inter);
  font-size: 14px;
}

.dropdown__options {
  display: none;
  position: absolute;
  top: 100%;
  left: 190px;
  background: var(--background-color);
  border: 1px solid #ccc;
  z-index: 20;
  max-height: 100px;
  overflow-y: auto;
  width: 200px;
}

.dropdown.open .dropdown__options {
  display: block;
}

.dropdown__container-option {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  width: 100xp;
  align-items: center;
  font-family: var(--text-font-Inter);
  font-size: 14px;
}

.dropdown__container-option img {
  width: 100px !important;
  height: auto !important;
}

.input__format-image {
  width: 120px !important;
  height: auto !important;
  margin-left: 250px;
  margin-top: 0;
}

.result__output {
  width: 500px;
  left: 550px;
  text-align: left;
  font-family: var(--text-font-Montserrat);
}

.result__graphic {
  flex-shrink: 0;
  max-width: 750px;
}

.result__graphic__button__wrap {
  height: 22px;
  margin-left: 30px;
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result__graphic__button {
  width: 90px;
  font-family: var(--text-font-Inter);
  font-size: 12.5px;
  text-decoration: none;
  color: var(--text-color-logoDisp);
  border-radius: 3px;
  border-color: var(--background-color);
}

#resultChart {
  max-width: 750px;
  max-height: 750px;
}

.result__output__criteria {
  margin-top: 12px;
}

.logo__main {
  position: absolute;
  height: 300px;
  margin: 30px;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  pointer-events: none;
}

footer {
  display: flex;
  margin-bottom: auto;
  height: 100px;
  background-color: var(--footer-color);
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-family: var(--text-font-Inter);
}

.footer__terms {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color-logoDisp);
  cursor: pointer;
}

.footer__contact {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color-contact);
}

.wizard {
  position: fixed; /*fixa o wizard na tela toda mesmo com rolagem*/
  top: 0; left: 0;right: 0;bottom: 0; /*ocupa 100% da tela*/
  background-color: var(--wizard-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.wizard--hidden {
  display: none;
}

.wizard__title {
  margin-top: 20px;
  font-family: var(--text-font-Montserrat);
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color-logoDisp)
}

.wizard__text {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: var(--text-font-Inter);
  font-size: 1.1rem;
}

.wizard__container {
  position: relative;
  background: var(--background-color);
  padding: 40px 30px;
  max-width: 700px;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 20px var(--wizard-border);
}

.wizard__navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wizard__button--close {
  color: var(--text-color-input);
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.wizard__button {
  font-size: 20px;
  color: var(--text-color-logoDisp);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: none;
}

.wizard__button:hover {
  opacity: 0.9;
}
