@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #FFFFFF;
  --footer-color: #F7F7F7;
  --text-color-title: #000000;
  --text-color-logoDisp: #1D4C4C;
  --text-color-logobzk: #32A28C;
  --text-color-contact: #828282;
  --text-color-input: #5B5959;
  --text-font-Montserrat: "Montserrat", sans-serif;
  --text-font-Inter: "Inter", sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

html, body {
  background-color: var(--background-color);
  height: 100%;
}

header {
  margin: 30px 50px;
  display: flex;
  justify-content: flex-start;
}

.logo__text {
  font-family: var(--text-font-Montserrat);
  font-size: 40px;
  font-weight: 652;
  color: var(--text-color-logoDisp);
}

.logo__bzk {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color-logobzk);
}

.logo__header {
  max-width: 50px;
  margin-top: 0;
  object-fit: contain;
}

.header__link--about {
  margin-left: auto;
  font-family: var(--text-font-Inter);
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color-logoDisp);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
}

.main__title {
  margin-left: 50px;
  margin-bottom: 50px;
  font-family: var(--text-font-Inter);
  font-size: 30px;
  font-weight: 700;
}

.inputs {
  display: flex;
  margin-left: 35px;
  padding: 20px;
  flex-direction: column;
}

.slenderness {
  display: flex;
  margin-bottom: auto;
  width: 500px;
  height: 100px;
}

.input__title {
  margin-bottom: 10px;
  font-family: var(--text-font-Inter);
  font-size: 17px;
  font-weight: 500;
}

.input__subtitle {
  margin-bottom: 10px;
  font-family: var(--text-font-Inter);
  font-size: 16px;
  font-weight: 500;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 450px;
}

label {
  flex: 1;
  text-align: left;
  font-family: var(--text-font-Inter);
  font-size: 16px;
}

.input__field {
  flex: 0 0 120px;
  min-width: 0;
  text-align: center;
  font-family: var(--text-font-Inter);
  font-size: 15px;
  color: var(--text-color-input);
}

.input__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input__field-list {
  flex: 0 0 120px;
  min-width: 0;
  text-align: center;
  font-family: var(--text-font-Inter);
  font-size: 15px;
  color: var(--text-color-input);
}

.input__container-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input__container-list::after {
  content: '';
  display: inline-block;
  width: 50px; /* igual ao warning span */
  height: 1px;
  visibility: hidden;

}


.input__warning {
  width: 50px;
  font-family: var(--text-font-Inter);
  font-size: 13px;
  color: var(--text-color-input);
  white-space: nowrap;
  visibility: hidden;
}

.input__warning--show {
  visibility: visible;
}

.input__field--error {
  border: 1px solid red;
  outline: none;
}

.input__button {
  height: 40px;
  width: 180px;
  font-family: var(--text-font-Inter);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: var(--background-color);
  border-radius: 8px;
  background-color: var(--text-color-title);
  margin-left: 60px;
}

/* .input__image{
  display: flex;
  gap: 8px;
} */

.input__format-image {
  max-width: 150px;
  margin: 0;
  margin-left: 250px;
}

.output {
  width: 300px;
  position: absolute;
  margin-right: 50px;
  top: 150px;
  left: 550px;
  text-align: left;
  font-family: var(--text-font-Montserrat);
}

.logo__main {
  position: absolute;
  margin: 30px;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}


footer {
  display: flex;
  margin-bottom: auto;
  height: 100px;
  background-color: var(--footer-color);
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-family: var(--text-font-Inter);
}

.footer__terms {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color-logoDisp);
}

.footer__contact {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color-contact);
}
